@page
@model ASPExercise2.Pages.form1Model
@{
    ViewData["Title"] = "Registration";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<body class="bg-white">
    <div asp-validation-summary="All" style="color:red;font-style:italic"></div>
    <center>
        <div class="container bg-primary col-sm-6 ">
            <center><h1>Contact Form</h1></center>
            <form method="post">
                <div class="form-group col-sm-6">
                    <input class="border-dark form-control" asp-for="Users.firstname" placeholder="Firstname" />
                </div>
                <div  class="form-group col-sm-6">
                     <input class="border-dark form-control" asp-for="Users.middlename"  placeholder="Middlename" />
                </div>
                <div  class="form-group col-sm-6">
                     <input class="border-dark form-control" asp-for="Users.lastname"  placeholder="Lastname" />
                </div>
                <div  class="form-group col-sm-6">
                     <input class="border-dark form-control" asp-for="Users.age"  placeholder="Age" />
                </div>
                <div  class="form-group col-sm-6">
                     <input class="border-dark form-control" asp-for="Users.address"  placeholder="Address" />
                </div>
                <div  class="form-group col-sm-6">
                     <input class="border-dark form-control" asp-for="Users.contactnumber"  placeholder="Contact Number" />
                </div>
                <div  class="form-group col-sm-6">
                     <input class="border-dark form-control" asp-for="Users.emailaddress"  placeholder="Email Address" />
                </div>
                
                
                <button type="submit" class="border-dark mb-4 btn btn-success" >Submit</button>
            </form>
        </div>
    </center>
</body>